<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div>
        <h2>
            Spring Boot Crud System - Student Registration
        </h2>
        <tr>
            <div align="left">
                <h4> <a th:href="@{'/new'}">Add New</a></h4>
            </div>
        </tr>
        <tr>
            <div class="col-sm-5" align="center">
                <div class="panel-body" align="center">
                    <table class="table">
                        <thead class="thead-dark">
                            <th scope="col">Student Id</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Course</th>
                            <th scope="col">Fee</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </thead>
                        <tbody>
                            <tr th:each="student : ${liststudent}">
                                <th scope="row" th:text="${student.id}">Student ID</th>
                                <td th:text="${student.name}">Student Name</td>
                                <td th:text="${student.course}">Course</td>
                                <td th:text="${student.fee}">Fee</td>
                                <td>
                                    <a th:href="@{'/edit/'+${student.id}}">Edit</a>
                                </td>
                                <td>
                                    <a th:href="@{'/delete/'+${student.id}}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </tr>
    </div>
</body>
</html>